    <head>
        <%-include('./partials/header')%>
        <%-include('./partials/navbar', {...(locals.user && {user:user})})%>
    </head>
    <h1><%= message %></h1>
    <h2><%= error.status %></h2>
    <pre><%= error.stack %></pre>
