<!DOCTYPE html>
<html>
  <head>
    <%-include('./partials/header')%>
    <%-include('./partials/navbar', {...(locals.user && {user:user})})%>
  </head>

  <body >
    <div style="text-align: center">
        <h1>Hello <%= locals.user ? user.username + '!' : ' guest!' %></h1>
        <%if(locals.user){%>
            <%if(!user.memberStatus){%>
              <p><a style="color:white" href="/become-member">Become a member</a>  to see post authors!</p>
            <%} else {%>
              <p><a href="/remove-member">Remove</a> your membership status here.</p>
            <%}%>
        <%}%>
        <p>You have visited this page: <%= viewCount%> times</p>
        <% for(post of messages){%>
            <div class="message">
              <p><%= post.message%></p>
              <p>Author: 
                <% if(locals.user){%>
                  <%= user.memberStatus ? post.author : 'hidden'%>
                <%} else {%>
                  hidden
                <%}%>
              </p>
            </div>
        <%}%>
    </div>
  </body>
</html>
<style>
  .message{
    background: rgba(12, 12, 12, 0.945); 
    padding: 20px; 
    border: solid 1px rgba(255, 255, 255, 0.685);
    border-radius: 10px;
    width: 80%; 
    margin: 20px auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    animation: fadein 1s;
  }

  @keyframes fadein {
      from {
        opacity: 0;
        transform: translate3d(0, -20%, 0);
      } 
      to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
      }
  }
</style>